SECTION A

1)Write a python program to print "Hello Python"

In [ ]:
def myfun():
   a="Hello Python"
   print(a)
myfun()

Hello Python

2)Write a python program to do arithmetical operations addition and division

In [ ]:
a=int(input("Enter the value:"))
b=int(input("Enter the value:"))
sum=a+b
print(sum)
div=a/b
print(div)

Enter the value:2
Enter the value:3
5
0.6666666666666666

3)Write a python program to find area of triangle

In [ ]:
base=float(input("Enter the base value:"))
height=float(input("Enter the height value:"))
area=0.5*base*height
print("Area of Triangle=",area)

Enter the base value:10
Enter the height value:20
Area of Triangle= 100.0

4)Write a python program to swap two variables

In [ ]:
a=10
b=20
temp=a
a=b
b=temp
print("Value of a=",a)
print("value of b=",b)

Value of a= 20
value of b= 10

5)Write a python program to generate a random number

In [ ]:
import random
print(random.randint(0,9))

4

SECTION B

1)Write a python program to convert kilometer to miles

In [ ]:
KM=int(input("Enter the kilometer value:"))
Miles=0.621*KM
print("Kilometer=",KM,"Miles=",Miles)

Enter the kilometer value:20
Kilometer= 20 Miles= 12.42

2)Write a python program to convert celsius to Fahrenheit

In [ ]:
celsius=float(input("Enter the celsius value:"))
fahrenheit=(celsius*9/5)+32
print("Celsius=",celsius,"Fahrenheit=",fahrenheit)

Enter the celsius value:50
Celsius= 50.0 Fahrenheit= 122.0

3)Write a python program to display calendar

In [ ]:
import calendar
y=2022
m=8
print(calendar.month(y,m))

    August 2022
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

4)Write a python program to solve quadratic equation

In [ ]:
import cmath
a = 2
b = 2
c = 3
d = (b**2) - (4*a*c)
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)
print(sol1,sol2)

(-0.5-1.118033988749895j) (-0.5+1.118033988749895j)

5)Write a python program to solve two variables without temp. variables

In [ ]:
a=8
b=3
a=a+b
b=a-b
a=a-b
print("a=",a,"b=",b)

a= 3 b= 8

SECTION C

1)Write a Python Program to Check if a Number is Positive, Negative or Zero?

In [ ]:
num=int(input("Enter the value:"))
if num>0:
   print("Positive Number")
elif num<0:
   print("Negative Numeber")
else:
   print("zero")

Enter the value:10
Positive Number

2)Write a Python Program to Check if a Number is Odd or Even?

In [ ]:
num=int(input("Enter the value:"))
if num%2==0:
  print("It is Even")
else:
  print("It is odd")

Enter the value:10
It is Even

3)Write a Python Program to Check Leap Year?

In [ ]:
year=int(input("Enter the year:"))
if (year % 400 == 0) and (year % 100 == 0):
    print("This is a leap year")
elif (year % 4 ==0) and (year % 100 != 0):
    print("This is a leap year")
else:
    print("This is not a leap year")

Enter the year:2016
This is a leap year

4)Write a Python Program to Check Prime Number?

In [ ]:
num=int(input("Enter the value:"))
if num > 1:
    for i in range(2, int(num/2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter the value:11
11 is a prime number

5)Write a Python Program to Print all Prime Numbers in an Interval of 1-10000?

In [ ]:
lower=int(input("Enter the loer range:"))
upper=int(input("Enter the upper range:"))
print("Prime numbers between", lower, "and", upper, "are:")
for num in range(lower, upper + 1):  
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Enter the loer range:900
Enter the upper range:1000
Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

SECTION D

1)Write a Python Program to Find the Factorial of a Number?

In [ ]:
def fact(n):
  fact=1
  for i in range(1,n+1):
    fact=fact*i
  print(fact)  
fact(6)

720

2)Write a Python Program to Display the multiplication Table?

In [ ]:
num=int(input("Multiplication table of:"))
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

Multiplication table of:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

3)Write a Python Program to Print the Fibonacci sequence

In [ ]:
a=0
b=1
print(a)
print(b)
for i in range(1,11):
  c=a+b
  a=b
  b=c
  print(c)

0
1
1
2
3
5
8
13
21
34
55
89

4)Write a Python Program to Check Armstrong Number?

In [ ]:
num = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 371
371 is an Armstrong number

5)Write a Python Program to Find Armstrong Number in an Interval?

In [ ]:
lower=int(input("Enter lower range:"))
upper=int(input("Enter upper range:"))
for i in range(lower,upper+1):
  sum=0
  num=i
  while(i!=0):
    digit=i%10
    sum=sum+(digit*digit*digit)
    i=i//10
  if sum==num:
     print(num)

Enter lower range:1
Enter upper range:2000
1
153
370
371
407

6)Write a Python Program to Find the Sum of Natural Numbers?

In [ ]:
num=int(input("Enter the value:"))
if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

Enter the value:20
The sum is 210

SECTION E

1)Write a Python Program to find sum of array?

In [ ]:
array=[6,4,3,2,1]
sum=0
for num in array:
  sum=sum+num
print(sum)

16

2)Write a Python Program to find largest element in an array?

In [ ]:
a = [10,20,30,40]
max_element = a[0]
for i in range(len(a)):
  if a[i] > max_element:
     max_element = a[i]

print (max_element)

40

3)Write a Python Program for array rotation?

In [ ]:
def rotateArray(a,d):
    n=len(a)
    a[:]=a[d:n]+a[0:d]
    return a
arr = [3,4,5,6,8,9,1]
print("Rotated list is")
print(rotateArray(arr,2))

Rotated list is
[5, 6, 8, 9, 1, 3, 4]

4)Write a Python Program to Split the array and add the first part to the end?

In [ ]:
def SplitArray(arr, n, k):
	for i in range(0, k):
		x = arr[0]
		for j in range(0, n-1):
			arr[j] = arr[j + 1]		
		arr[n-1] = x		
arr = [1,2,3,4,5,6]
n = len(arr)
position = 3
SplitArray(arr, n, position)
for i in range(0, n):
	print(arr[i], end = ' ')

4 5 6 1 2 3

5)Write a Python Program to check if given array is Monotonic?

In [ ]:
def ismonotone(a):
    n=len(a) #size of array
    if n==1:
        return True
    else:       
        if all(a[i]>=a[i+1] for i in range(0,n-1) or a[i]<=a[i+1] for i in range(0,n-1)):
            return True
        else:
            return False
A = [6, 5, 4, 2]
print(ismonotone(A))

True

SECTION F

1)Write a Python program to find sum of elements in list?

In [ ]:
def sumlist(list):
    sum=0
    for i in range(len(list)):
        sum = sum+list[i]
    return sum
list = [20,40,60]
print(list)
print("sum of list: ",sumlist(list))

[20, 40, 60]
sum of list:  120

2)Write a Python program to Multiply all numbers in the list?

In [ ]:
def mul_list(list) :         
    product = 1
    for i in list:
         product = product * i
    return product     
list1 = [1,2,3,4]
print(list1)
print("product: ") 
print(mul_list(list1))

[1, 2, 3, 4]
product:
24

3,4)Write a Python program to find smallest and largest number in a list?

In [ ]:
a=(6,9,8,5,4)
print(a)
max_number=max(a)
print(max_number)
min_number=min(a)
print(min_number)

(6, 9, 8, 5, 4)
9
4

5)Write a Python program to find second largest number in a list?

In [ ]:
list1 = [90,80,50,30]
new_list = set(list1)
new_list.remove(max(new_list))
print(max(new_list))

80

6)Write a Python program to find N largest elements from a list?

In [ ]:
def LargestFunc(list1, N):
	new_list = []
	for i in range(0, N):
		max1 = 0
		for j in range(len(list1)):
			if list1[j] > max1:
				max1 = list1[j];
		list1.remove(max1);
		new_list.append(max1)
	print("Largest numbers = ",new_list)
my_list = [12, 61, 41, 85, 40, 13, 77, 65, 100]
N = 2
LargestFunc(my_list, N)

Largest numbers =  [100, 85]

7)Write a Python program to print even numbers in a list?

In [ ]:
list1 = [10, 21, 4, 45, 66, 93]
for num in list1:
    if num % 2 == 0:
       print(num, end=" ")

10 4 66

8)Write a Python program to print odd numbers in a List?

In [ ]:
list1 = [10, 21, 4, 45, 66, 93]
for num in list1:
    if num % 2 != 0:
       print(num, end=" ")

21 45 93

9)Write a Python program to Remove empty List from List?

In [ ]:
test_list = [5, 6, [], 3, [], [], 9]
print("The original list is : " + str(test_list))
while [] in test_list :
    test_list.remove([])
print("List after empty list removal : " + str(test_list))

The original list is : [5, 6, [], 3, [], [], 9]
List after empty list removal : [5, 6, 3, 9]

10)Write a Python program to Cloning or Copying a list?

In [ ]:
def Cloning(a1):
    li_copy = a1[:]
    return li_copy
a1 = [4, 8, 2, 10, 15, 18]
a2 = Cloning(a1)
print("Original List:", a1)
print("After Cloning:", a2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

11)Write a Python program to Count occurrences of an element in a list?

In [ ]:
sample_list = ["2", "4", "2", "8", "2", "8"]
print(sample_list.count("2"))

3